= form_for @team, html: {class: 'form-horizontal'} do |f|
  - if @team.errors.any?
    #error_explanation
      %h2= "#{pluralize(@team.errors.count, "error")} prohibited this team from being saved:"
      %ul
        - @team.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    %label.col-sm-2.control-label{for: :name} Team Name
    .div.col-sm-10
      = f.text_field :name, placeholder: "Team Name", autofocus: true, class: 'form-control'
  .form-group
    %label{for: :rank} Rank
    = f.text_field :rank, placeholder: "Rank"
  .form-group
    %label{for: :group} Group
    = f.text_field :group, placeholder: "Group"
  .form-group
    %label{for: :match_up} Match Up
    = f.text_field :match_up, placeholder: "Match Up"
  .form-group
    %label{for: :url} Url
    = f.text_field :url, placeholder: "Url"
  .form-group
    = f.label :loss_yn, :class => 'form_lbl'
    = f.check_box :loss_yn
  .actions
    if policy(Team).update?
      = f.submit 'Save'
