= form_for @team do |f|
  - if @team.errors.any?
    #error_explanation
      %h2= "#{pluralize(@team.errors.count, "error")} prohibited this team from being saved:"
      %ul
        - @team.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :name, placeholder: "Team Name", autofocus: true
  = f.text_field :rank, placeholder: "Rank"
  = f.text_field :group, placeholder: "Group"
  = f.text_field :match_up, placeholder: "Match Up"
  = f.text_field :url, placeholder: "Url"
  = f.label :loss_yn, :class => 'form_lbl'
  = f.check_box :loss_yn
  .actions
    = f.submit 'Save'
