%h1 Listing teams

- if policy(Team).new?
  = link_to 'New Team', new_team_path, class: 'btn btn-success'

%table.leaders.table-hover
  %thead
    %tr
      %th Name
      %th Rank
      %th Match Up
      %th Group
      %th

  %tbody
    - @teams.each do |team|
      %tr
        %td 
          = team.name
        %td 
          = team.rank
        %td 
          = team.match_up
        %td 
          = team.group
        %td
          - if (policy(team).team_lost?) && (not team.loss_yn?)
            = link_to 'Team Lost', team_lost_team_path(team), class: 'btn btn-small btn-warning'
          - if policy(team).edit?
            = link_to 'Edit', edit_team_path(team), class: 'btn btn-primary'
          / - if policy(team).destroy?
          /   = link_to 'Destroy', team, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

%br
- if policy(Team).new?
  = link_to 'New Team', new_team_path, class: 'btn btn-success'
