- if user_signed_in?
  .div.mmnav
    %ul
      %li
        %a.navbar-brand{:href => "#"}
          Brackets #{Time.now.strftime("%Y")}
      %li
        = link_to 'Home', root_path
      %li
        - if policy(Sheet).my_brackets? 
          = link_to 'My Brackets', my_brackets_path
      %li
        = link_to 'Edit Profile', edit_user_registration_path(current_user)
      - if policy(Team).index? 
        %li= link_to "Teams", teams_path
      %li
        = link_to "Logout", destroy_user_session_path, :method => :delete