.container
  .div.row  
    %h2 Sign up
  .div.row  
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f|
      = devise_error_messages!
      .form-group
        %label.col-sm-2.control-label{for: :email} Email Address
        .div.col-sm-10
          = f.email_field :email, autofocus: true, placeholder: 'your@email.com' 
      .form-group
        %label.col-sm-2.control-label{for: :first_name} First Name
        .div.col-sm-10
          = f.text_field :first_name, placeholder: 'First Name' 
      .form-group
        %label.col-sm-2.control-label{for: :last_name} Last Name
        .div.col-sm-10
          = f.text_field :last_name, placeholder: 'Last Name' 
      .form-group
        %label.col-sm-2.control-label{for: :password} Password
        .div.col-sm-10
          = f.password_field :password, autocomplete: "off", placeholder: 'Password'
      .form-group
        %label.col-sm-2.control-label{for: :password_confirmation} Confirm Password
        .div.col-sm-10
          = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm Password' 
      .form-group
        .div.col-sm-offset-2.col-sm-10
          = f.submit "Sign up"


