.container
  .div.row  
    %h2 Sign up for Brackets #{Time.now.strftime("%Y")}
  .div.row 
    .div.col-md-12 
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        = f.input :email, autofocus: true, placeholder: 'your@email.com' 
        = f.input :first_name, placeholder: 'First Name' 
        = f.input :last_name, placeholder: 'Last Name' 
        = f.input :password, autocomplete: "off", placeholder: 'Password', hint: @minimum_password_length.to_s + ' characters minimum'
        = f.input :password_confirmation, autocomplete: "off", placeholder: 'Confirm Password' 
        = f.submit "Sign up", class: 'btn btn-success'
        = link_to "Cancel", root_path, class: 'btn btn-default'


